<% @recipes.each_slice(3) do |recipes| %>
  <div class="row">
    <% recipes.each do |recipe| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="..." alt="...">
        </div> 
        <div class="caption">
          <p><%= recipe.title %></p>
          <p><%= recipe.content %></p>
          <p><%= link_to "View", recipe_path(recipe), class: "btn btn-warning"%>
          <% if current_user[:id] == recipe[:user_id] %>
             <%= link_to "Delete", recipe_path(recipe), 
                                   method: :delete,
                                   data: { confirm: "Are you sure?" },
                                   class: "btn btn-danger" %>
          <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>