<div class=about-screen></div>

<div class=about_right>
<% provide(:title, 'About') %>

<h1>Find and share everyday cooking inspiration. </h1>
<h4>The more you know, the more you can create. </h4>
<h4>There is no end to imagination in the kitchen. </h4>


<%= image_tag('chompchamp.png') %>
<h3>ChompChamp</h3>

<br>

<p>Chompchamp is a recipe site that aims to make food preparation easy. </p>
<p>In this day and age most people struggle to have work and life balance.</p>
<p>This is often achieved by compromising one's health. </p>
<p>People  try to save time by skipping meals or by ordering fast food since they find cooking to be an inconvenience.</p> 
<p>The effects of this can be ameliorated by eating in fancy restaurants but at a cost.</p>
<p>Productive people try to find time to cook for themselves to ensure that they are getting the nutrients their body deserves. However, this requires sacrificing time and effort. 
<p>Chompchamp presents cooking as something fun and easy to pick up. </p>
<p>Its main purpose is to make productive people even more productive as well as usher in people who do not cook.</p>


</div>

