<div class=about-screen></div>

<div class=about_right>
<% provide(:title, 'About') %>

<h1>Find and share everyday cooking inspiration. </h1>



<%= image_tag('chompchamp.png') %>
<h3>ChompChamp</h3>

<br>
<h4>The more you know, the more you can create. </h4>
<h4>There is no end to imagination in the kitchen. </h4>


</div>

