<% provide(:title, 'About') %>
<%= image_tag('chompchamp.png') %>

<div class=about_right>
<h1>ChompChamp</h1>

<br>
<p>Chompchamp is a recipe site that aims to make food preparation easy. </p>
<p>Find and share everyday cooking inspiration</p>

</div>
