<% provide(:title, 'Home') %>
<div class="page-header">
  <h1>Home</h1>
  <p>This is the header</p>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  
</div>


<p>This page should contain:</p>
<ol>
    <li>navbar containing:</li>
        <ul>
            <li>name of app</li>
            <li>home button</li>
            <li>log-in/log-out/sign-up buttons</li>
            <li></li>
            
        </ul>
    <li>banner</li>
    <li>recommended recipe previews containing:</li>
        <ul>
            <li>Picture of the dish</li>
            <li>User Photo</li>
            <li>User name</li>
            <li>Star ratings</li>
            <li>1 user review</li>
            <li>like button</li>
        </ul>
    <li>Search bar</li>
    <li>footer containing:</li>
        <ul>
            <li>about</li>
        </ul>
    
</ol>


