<% provide(:title, 'Home') %>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p>This page should contain:</p>
<ol>
    <li>navbar containing:</li>
        <ul>
            <li>name of app</li>
            <li>home button</li>
            <li>log-in/log-out/sign-up buttons</li>
            <li></li>
            
        </ul>
    <li>banner</li>
    <li>recommended recipe previews containing:</li>
        <ul>
            <li>Picture of the dish</li>
            <li>User Photo</li>
            <li>User name</li>
            <li>Star ratings</li>
            <li>1 user review</li>
            <li>like button</li>
        </ul>
    <li>Search bar</li>
    <li>footer containing:</li>
        <ul>
            <li>about</li>
        </ul>
    
</ol>


