/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "devise_bootstrap_views";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

#avatar {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    border-radius: 100%;
}
#avatar-post{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
}

#logo {
    display: inline;
    width: 30px;
    height: 30px;
    margin-right: 4px;
}
#post-head {
    padding:7px 7px 5px 5px;
    color:black;
    opacity:0.8;
}

#post-head a{
    padding:5px;
    color:black;
}


.caption a{
    color:black;
    opacity:0.8;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Raleway',sans-serif;
    position: relative;
    /*background: rgba(0, 0, 0, 0) url("../img/ptn.png") repeat scroll 0 0;*/
     padding-bottom: 150px;
}

.row {
    padding-bottom: 20px;
}

.in-page {
    min-height: 520px;
}

.main {
    position: relative;
}

a {
    color: #f0f0f0;
}

a:hover, a:focus {
    color: #1b5a7c;
}


#stats a{
    margin-top:10px;
    padding:5px;
    color:black;
    opacity:0.8;
}

#stats{
    margin-top:10px;
    padding:5px;
    
}

.btn-cyan {
    background-color: #1b5a7c;
    color: #fff;
}

.btn-cyan:hover {
    color: #fff;
    opacity: 0.9;
}

.form-control:focus {
    border-color: #1b5a7c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(24, 204, 162, 0.6);
    outline: 0 none;
}

.min-height {
    min-height: 380px;
}

.login-img {
    z-index:-3;
    background-image: url(http://nabe.moranbong.co.jp/files/topics/2800_ext_05_1.jpg);
    opacity:1;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity:0.98;
}

.login-screen:before {
    content: "";
    background: rgba(0,0,0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login-center {
    text-align: left;
}

.login {
    width: 320px;
    color: #fff;
}

.login .login-form {
    text-align: left;
}

.login label {
    color: #fff;
}

.login-form .input-group .form-control {
    background: none;
    height: 44px;
    color: #f0f0f0;
}

.login-form .input-group .input-group-addon {
    background: none;
}

.login-form .input-group .input-group-addon .glyphicon {
    color: #f0f0f0;
}

.login-form .input-group .form-control::-moz-placeholder {
    color: #f0f0f0;
}

.login .sign-btn input.btn {
    background: #1b5a7c;
    border-color: #1b5a7c;
    color: #f0f0f0;
    width: 180px;
}

.login .sign-btn a {
    text-decoration: none;
}

.login .checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login .forgot {
    display: inline-block;
    margin: 20px 0;
}

footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
  text-align:center;
  padding:15px;
}


.about_right {
    padding-top:10px;
    font-size:20px;
    margin:0 auto;
    text-align:center;
    opacity:0.8;
}

.userpic{
    width:50px;
    height:50px;
    border-radius:100%;
}

.about-screen {
  z-index:-3;
    /*background-image: url(http://nabe.moranbong.co.jp/files/topics/2800_ext_05_1.jpg);*/
    opacity:1;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    opacity:0.2;
}

.image{
    width:300px;
    height:300px;
}
